.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
    margin-bottom: 25px;   
    .spacing {
        width: 1366px;
        height: 256px;
        background-color: #eeeeee;
        margin-bottom: 228px;
    }
    .logo {
        position: absolute;
        top: 94px;
        width: 326px;
        height: 326px;
        background-color: white;
        border-radius: 50%;
        box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.22);
        z-index: 1;
        display: flex;
        justify-content: center;
        justify-items: center;
    }
    nav {        
        display: flex;
        width: 100%;
        justify-content: center;
        a {
            @include chukBtn;
        }
    }
}
