* {
    box-sizing: border-box;
}
html {
    font-size: 13px;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: roboto-normal, Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
    padding: 0;
    font: unset;

    &:focus {
        outline: none;
    }
}

textarea {
    font: unset;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

input {
    outline: none;

    :focus {
        outline: none;
    }
}
