@mixin chukBtn {
    width: 120px;
    height: 40px;
    border: 1px solid $btnSelected;
    border-radius: 0 3px 3px 0;
    font-size: rem(15px);
    color: $btnSelected;
    display: flex;
    justify-content: center;
    align-items: center;
    &.left { 
        border-radius: 3px 0 0 3px;
    }
    &.selected {
        background-color: $btnSelected;
        color: white;
    }

}
@mixin chukInput{
    border-radius: 3px;
    border: 1px solid $inputBorder;
    height: 40px;    
    padding: 11.5px 10px;
    font-family: roboto-normal;
    color: $txtBold;
    ::placeholder {
        color: $txtDisabled;

    }
}

