@mixin chukBtn {
    width: 120px;
    height: 40px;
    border: 1px solid $btnSelected;
    border-radius: 0 3px 3px 0;
    font-size: rem(15px);
    color: $btnSelected;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    cursor: pointer;

    &.left {
        border-radius: 3px 0 0 3px;
    }
    &.selected {
        background-color: $btnSelected;
        color: white;
        pointer-events: none;
        cursor: default;
    }
}
@mixin chukLbl {
    font-family: roboto-meduim;
    display: flex;
    align-items: center;
}

@mixin chukInput {
    border-radius: 3px;
    border: 1px solid $inputBorder;
    height: 40px;
    padding: 11.5px 10px;
    font-family: roboto-normal;
    color: $txtBold;
    ::placeholder {
        color: $txtDisabled;
    }
}
@mixin chukSubmit {
    display: flex;
    justify-content: center;
    font-family: roboto-meduim;
    padding-top: rem(13px);
    padding-bottom: rem(12px);
    border-radius: 3px;
    width: 160px;
    height: 40px;
    background-color: $btnDisabled;
    color: $txtDisabled;    
    cursor: default;
    outline: none;
    border: 0;
    &.enabled {
        background-color: $btnSelected;
        color: white;        
        cursor: pointer;
    }
}
