// colors
$btnSelected: #F15A24;
$btnDisabled:#E3E8EB;
$txtDisabled:#B3BEC2;
$inputBorder: #B3BEC2;
$formBg: #FFF2EE;
$txtBold: #16303C;
$factBorder: #29ABE2;
$factFont: #29ABE2;
$factRowSelected:#E2F4FC;
$factBgGrid:#E2F4FC;
$logoShadow: 0 0 10px 0 rgba(0, 0, 0, 0.22);



